---
import Chevron from '@assets/Chevron.astro';

type AccordionItem = {
  title: string;
  content: string;
};

const {title, content} = Astro.props as AccordionItem;

const controlId = 'accordionControl';
const contentId = 'accordionContent';
---

<div
  class="accordion flex w-full flex-col p-[16px] rounded-[16px] bg-bg-tertiary lg:hover:bg-bg-secondary cursor-pointer"
>
  <div class="flex w-full justify-between items-center py-[6px]">
    <p class="text-color-main text-h6 leading-[24px] font-medium">
      {title}
    </p>

    <button
      id={controlId}
      aria-expanded="false"
      class="accordion-button transition-transform text-color-gray-50 rotate-0 pointer-events-none"
    >
      <Chevron />
    </button>
  </div>

  <div
    id={contentId}
    class="accordion-content overflow-hidden transition-max-height duration-[350ms] ease-in-out max-h-0"
  >
    <p class="text-color-case-title font-medium text-h5 leading-[24px]">
      {content}
    </p>
  </div>
</div>

<script>
  document.querySelectorAll('.accordion').forEach(accordion => {
    const button = accordion.querySelector('.accordion-button');
    const content = accordion.querySelector('.accordion-content');

    accordion.addEventListener('click', () => {
      const isExpanded = button.getAttribute('aria-expanded') === 'true';
      button.setAttribute('aria-expanded', String(!isExpanded));
      if (isExpanded) {
        content.style.maxHeight = '0';
        button.classList.remove('rotate-180');
        content.classList.remove('mt-[4px]');
      } else {
        content.style.maxHeight = content.scrollHeight + 'px';
        button.classList.add('rotate-180');
        content.classList.add('mt-[4px]');
      }
    });
  });
</script>
