---
import LinkedIn from '@assets/LinkedIn.astro';
import AlunexLogoFooter from '@assets/AlunexLogoFooter.astro';

const socialLinks = {
  linkedIn: '#',
};
---

<footer
  class="w-full flex items-center justify-between px-[16px] py-[12px] border-t-[1px] border-bg-secondary"
>
  <div class="flex gap-x-[16px]">
    <a href="/"><AlunexLogoFooter /></a>
  </div>

  <div class="flex gap-x-[4px]">
    <a href={socialLinks.linkedIn} target="_blank"><LinkedIn /></a>
  </div>
</footer>
