---
import Discord from '@assets/Discord.astro';
import GitHub from '@assets/GitHub.astro';
---

<footer class="flex flex-col">
  <hr class="border-gray-100 dark:border-[#27293A]" />
  <div class="my-10 flex justify-center gap-4 md:justify-end">
    <a href="https://astro.build/chat">
      <Discord />
    </a>
    <a href="https://github.com/withastro">
      <GitHub />
    </a>
  </div>
</footer>
