---
import Button from 'src/components/Button.astro';
import Input from 'src/components/Input.astro';

const title = 'Get our latest product updates. Unsubscribe any time. ';
const inputPlaceholder = 'your@email.com';
const subscribeBtnText = 'Get updates';
---

<div class="flex justify-center py-[140px]">
  <div class="flex flex-col items-center">
    <p class="text-text-main text-h6 font-medium">
      {title}
    </p>

    <Input
      type="email"
      placeholder={inputPlaceholder}
      className="mt-[14px] w-full"
    />

    <Button className="mt-[40px]" text={subscribeBtnText} />
  </div>
</div>
